#options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#points {
  margin-bottom: 0px;
}

h3 {
  text-align: center;
}

#center {
  text-align: center;
}

#results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fail {
  color: red;
  --wired-fab-bg-color: pink;
}

.pass {
  color: green;
  --wired-fab-bg-color: greenyellow;
}